/* Custom CSS to adjust navbar styling */

@font-face {
    font-family: 'lemon milk';
    src: url(/public/Fonts/LEMONMILK-Medium.otf);
  }
  
  .navbar {
    position: absolute;
    margin-top: 20px;
    left: 10px;
    margin-right: 90%;
    max-height: 100%; 
    width: 200px;
    background: none;
  }
  
  .navbar .nav {
    width: 100%;
  }
  
  .navbartoggle {
    
    left: 10%; /* Adjust the value to your preference */
    top: 10%; /* Adjust the value to your preference */
    border: none;
  }
  
  .navbartoggle .navbar-toggler-icon {
    background-size: 20px;
    border-color: none;
    background: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar .navlink {
    color: white;
    font-size: 20px;
    font-family: 'lemon milk';
    text-decoration: none;
    background: none;
    width: 100%; /* Make each nav link take full width */
    padding: 5px;
    text-align: left; /* Align text to the left */
  }
  
  .navbar .btn {
    width: 100%; /* Make buttons take full width */
    margin-top: 1rem; /* Add margin for spacing between elements */
  }
  
  @media (max-width : 575px) {

    .navbar{
    position: absolute;
    left: 2px;
    top: 20px;
    background: none;

    }
    .navbar .navlink {
        font-size: 15px;
        color: rgb(253, 253, 253);
        background-color: black;
      
    }
  }